.modal-header {
  padding: #{3 * $grid-size} #{2 * $grid-size};

  .page-title {
    margin-top: 0;
  }
}

.modal-body {
  background-color: $modal-body-bg;
  position: relative;
  padding: #{3 * $grid-size} #{2 * $grid-size};

  .form-actions {
    margin: #{2 * $grid-size} #{-2 * $grid-size} #{-2 * $grid-size};
  }

  .text-danger {
    font-weight: $gl-font-weight-bold;
  }
}

body.modal-open {
  overflow: hidden;
}

.modal-no-backdrop {
  @extend .modal-dialog;

  .modal-content {
    box-shadow: none;
  }
}

@media (min-width: $screen-md-min) {
  .modal-dialog {
    width: 860px;
  }
}

@media (min-width: $screen-lg-min) {
  .modal-full {
    width: 98%;
  }
}

.modal.popup-dialog {
  display: block;
}
