= webpack_bundle_tag 'add_gitlab_slack_application'

%script#js-add-gitlab-slack-application-entry-data{ type: "application/json" }
  = add_to_slack_data(@projects)

#js-add-gitlab-slack-application-entry-point
